  <section id="client" class="bg-dark">
      <div class="container text-center">
          
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="call-to-action">
                    <h2 class="section-heading">{{ site.contact_header | upcase }}</h2>
                    <hr class="primary">
                    <p>{{ site.contact_text }}</p>
                    <br/><br/>
                    <p><a href="mailto:{{ site.email }}" class="btn btn-primary btn-xl wow tada">{{ site.email }}</a></p>
                    <!--<br/><br/>
                    <p>{{ site.contact_phone}} <strong>{{ site.phone }}</strong></p>-->
                </div>                
            </div>
        </div>                      
          
      </div>      
  </section>
