<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">COMO FUNCIONA</h2>
                <hr class="light">
                <p class="text-faded">GouNau es una plataforma en la cual el cliente vive una experiencia enriquecedora con su banco recibiendo promociones asertivas de los comercios acorde a su estilo de vida</p>
            </div>
        </div>
    </div>
</section>
